.display_flex_col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display_flex_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.container_list {
  width: 100%;
  padding: 14px 0px;
}

section {
  width: 100%;
  min-height: 75vh;
}

article {
  width: 30%;
  min-height: 30vh;
  border: 5px solid #daca9b;
  background-color: #efc88b;
}

.bem_vindo p {
  position: absolute;
  right: 50px;
  letter-spacing: 3px;
}

.container_info {
  justify-content: space-evenly;
}

.container_confirmation {
  width: 80%;
}
