.button_numbers{
    border: 1px solid #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.display_numbers{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #000;
}