.display_flex_col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display_flex_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

section {
  width: 100%;
  min-height: 75vh;
}

.bem_vindo p {
  letter-spacing: 3px;
}

.container_product_info {
  width: 400px;
  height: 180px;
  background-color: #efc88b;
  border: 5px solid #daca9b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.title_welcome {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container_product_info p {
  letter-spacing: 3px;
}

.text {
  width: 100%;
  text-align: center;
}

.confirmed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.done {
  color: #32a852;
  margin-top: 20px;
}

.alert {
  color: #a83232;
}

@media screen and (max-width: 450px) {
  .container_product_info {
    width: 95%;
    position: relative;
    bottom: 120px;
  }
}

@media screen and (max-width: 340px) {
  .container_product_info {
    height: 200px;
  }

  .confirmed {
    height: 80px;
    flex-direction: column-reverse;
  }
}
