.display_flex_col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display_flex_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container_list {
  width: 100%;
  padding: 14px 0px;
}

section {
  width: 100%;
  min-height: 75vh;
}

article {
  width: 100%;
  min-height: 75vh;
}

.bem_vindo p {
  position: absolute;
  right: 50px;
  letter-spacing: 3px;
}

.container_list_products {
  padding: 10px;
  justify-content: space-evenly;
}

.container_list_products h2 {
  margin-bottom: 10px;
}

.container_product_info {
  width: 40%;
  height: 150px;
  background-color: #efc88b;
  border: 5px solid #daca9b;
}

.container_product_info p {
  letter-spacing: 3px;
}

.done {
  color: #32a852;
  margin-top: 20px;
}

.alert {
  color: #a83232;
}
