.form_class{
    border: 1px solid #000;
    height: 240px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.button_class{
    width: 70px;
    height: 20px;
    cursor: pointer;
}

.label_class{
    margin-right: 5px;
}