.display_flex_col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.display_flex_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

section {
  width: 100%;
  min-height: 70vh;
}

article {
  width: 600px;
  min-height: 65vh;
  background-color: #efc88b;
  border: 5px solid #daca9b;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.title_welcome {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.title_welcome p {
  letter-spacing: 3px;
}

.form {
  min-height: 425px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.container_radios {
  height: 100px;
}

#eye_closed {
  color: rgb(53, 53, 53);
  cursor: pointer;
}

#eye_closed2 {
  color: rgb(53, 52, 52);
  cursor: pointer;
}

#eye_open {
  color: rgb(53, 53, 53);
  cursor: pointer;
}

#eye_open2 {
  color: rgb(53, 52, 52);
  cursor: pointer;
}
.container_pass {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.confirmed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.first_pass {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.repeat_pass {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.main {
  min-height: 75vh;
}

.done {
  color: #008000;
}

.alert {
  color: #ff0000;
}

.not_see {
  display: none;
}

@media screen and (max-width: 660px) {
  article {
    width: 90%;
    margin: 20px 0px;
    padding: 20px;
  }

  .div_form {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .div_form_birth {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .container_pass {
    height: 250px;
  }

  .first_pass {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 125px;
  }

  .repeat_pass {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 125px;
  }

  .form {
    min-height: 650px;
  }
}

@media screen and (max-width: 340px) {
  .title_welcome {
    height: 120px;
  }

  .confirmed {
    flex-direction: column-reverse;
    height: 80px;
  }

  .form {
    text-align: center;
    min-height: 650px;
  }
}
